@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

:root {
  --accent-1: 27, 231, 255;
  --accent-2: 75, 231, 101;
  --accent-3: 255, 186, 10;
  --accent-4: 255, 80, 10;
}

.bg-accent-1 {
  background: rgb(var(--accent-1));
}

.bg-accent-2 {
  background: rgb(var(--accent-2));
}

.bg-accent-3 {
  background: rgb(var(--accent-3));
}

.bg-accent-4 {
  background: rgb(var(--accent-4));
}

.rgb-animation {
  animation: bgcolor 60s infinite alternate;
} 

@keyframes bgcolor {
  0% {
      background-color: rgb(var(--accent-1));
  }

  50% {
      background-color: rgb(var(--accent-2));
  }

  75% {
      background-color: rgb(var(--accent-3));
  }

  100% {
      background-color: rgb(var(--accent-4));
  }
}