@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

:root {
  --accent-1: 245, 69, 0;
  --accent-2: 0, 220, 245;
  --accent-3: 245, 175, 0;
  --accent-4: 27, 197, 55;
}

.rgb-animation {
  animation: bgcolor 60s infinite alternate;
} 

@keyframes bgcolor {
  0% {
      background-color: rgb(var(--accent-1));
  }

  50% {
      background-color: rgb(var(--accent-2));
  }

  75% {
      background-color: rgb(var(--accent-3));
  }

  100% {
      background-color: rgb(var(--accent-4));
  }
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}